@model Patient
<form method="POST" asp-action="Create">
	<div class="border p-3 mt-4">
		<div class="row pb-2">
			<h2 class="text-primary"> Create Patient</h2>
			<hr />
		</div>
		<div asp-validation-summary="ModelOnly"></div>
		<div class="mb-3 row p-1">
			<input asp-for="PatientID" type="text" class="from-control">
			<span asp-validation-for="PatientID" class="text-danger"></span>
		</div>
		<div class="mb-3 row p-1 my-4 ">
			<label asp-for="FirstName" class="p-0"> </label>
			<input asp-for="FirstName" type="text" class="from-control" />
			<span asp-validation-for="FirstName" class="text-danger"></span>
		</div>
		<div class="mb-3 row p-1 my-4 ">
			<label asp-for="LastName" class="p-0"> </label>
			<input asp-for="LastName" type="text" class="from-control" />
			<span asp-validation-for="LastName" class="text-danger"></span>
		</div>
		<div class="mb-3 row p-1 my-4 ">
			<label asp-for="Gender" class="p-0"> </label>
			<input asp-for="Gender" type="text" class="from-control" />
			<span asp-validation-for="Gender" class="text-danger"></span>
		</div>
		<div class="mb-3 row p-1 my-4 ">
			<label asp-for="ContactNumber" class="p-0"> </label>
			<input asp-for="ContactNumber" type="text" class="from-control" />
			<span asp-validation-for="ContactNumber" class="text-danger"></span>
		</div>
		<div class="mb-3 row p-1 my-4 ">
			<label asp-for="Email" class="p-0"> </label>
			<input asp-for="Email" type="text" class="from-control" />
			<span asp-validation-for="Email" class="text-danger"></span>
		</div>
		<div class="mb-3 row p-1 my-4 ">
			<label asp-for="Address" class="p-0"> </label>
			<input asp-for="Address" type="text" class="from-control" />
			<span asp-validation-for="Address" class="text-danger"></span>
		</div>
@* 		<div class="mb-3 row p-1">
			<label asp-for="ComId" class="p-0">Company Id</label>
			<select asp-for="ComId" class="form-control" asp-items="ViewBag.CompanyList">
				<option value="">Select Company</option> <!-- Optional: Default placeholder -->
			</select>
			<span asp-validation-for="ComId" class="text-danger"></span>
		</div> *@


		<div class="row">
			<div class="col-6 col-md-3">
				<button type="submit" class="btn btn-primary from-control">Create</button>
			</div>
			<div class="col-6 col-md-3">
				<a asp-controller="Patient" asp-action="Index" class="btn btn-outline-secondary from-control ">
					Back To List
				</a>
			</div>
		</div>
	</div>
</form>
